doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title 2914
	link(rel="stylesheet", href="//getbootstrap.com/dist/css/bootstrap.min.css")
body
	.navbar.navbar-default.navbar-static-top
		.container
			a.navbar-brand(href="#") Innovaciones Net
	.container
		block content